
.vs/slnx.sqlite
.vs/SDUTSXT2022Examination/v17/TestStore/0/testlog.manifest
.vs/SDUTSXT2022Examination/v17/TestStore/0/000.testlog
.vs/SDUTSXT2022Examination/v17/Browse.VC.opendb
.vs/SDUTSXT2022Examination/v17/Browse.VC.db-wal
.vs/SDUTSXT2022Examination/v17/Browse.VC.db-shm
.vs/SDUTSXT2022Examination/v17/Browse.VC.db
.vs/SDUTSXT2022Examination/v17/.suo
.vs/SDUTSXT2022Examination/FileContentIndex/read.lock
.vs/SDUTSXT2022Examination/FileContentIndex/fbe7d7b1-6a65-478e-a59b-178135aa9f8e.vsidx
.vs/SDUTSXT2022Examination/FileContentIndex/4a5d3b8d-1e72-425b-a62d-e368f236a07e.vsidx
.vs/SDUTSXT2022Examination/FileContentIndex/07a5a9ca-4115-4cf1-a623-e2a7008b3c70.vsidx
.vs/SDUTSXT2022Examination/config/applicationhost.config
.vs/ProjectSettings.json
.vs/SDUTSXT2022Examination/FileContentIndex/0ea43997-e7cd-4659-8786-9aa29f16909b.vsidx
*.vsidx
